<!-- PRODUCT SETTINGS -->
{{ 'component-animate.css' | asset_url | stylesheet_tag }}

{% comment %}
  Text color classes
{% endcomment %}
{%- capture textColorClasses -%}
    .product__info-container *,
    .footer__content-top *,
    .footer__content-bottom *
{%- endcapture -%}

{%- capture textColorClassesNav -%}
    .header__inline-menu *:not(.header__submenu *),
    .header__icons *
{%- endcapture -%}

{%- capture textColorFormClasses -%}
    .button.product-form__submit, 
    .newsletter-form .field__input, 
    .localization-form .disclosure__button
{%- endcapture -%}
{% capture textColorHR %}
    hr
{% endcapture %}
{% comment %}
  END Text color classes
{% endcomment %}

{%- capture buttonClasses -%}
    .product-nav-btn .button,
    .button.product-form__submit,
    .button.product-form__submit:hover
{%- endcapture -%}

{% liquid
  # background image uploaded
  if section.settings.product_background_image
    # background image
    assign bkImageURL = section.settings.product_background_image | image_url
    assign bkImgProp = 'background-image:url(' | append: bkImageURL | append: ');'
    # background image repeat
    if section.settings.product_bk_img_repeat != 'unset'
      assign bkImgRepeat = section.settings.product_bk_img_repeat
      assign bkImgRepeat = 'background-repeat:' | append: bkImgRepeat | append: ';'
    endif
    # background image size
    if section.settings.product_bk_img_size != 'auto'
      assign bkImgSize = section.settings.product_bk_img_size
      assign bkImgSize = 'background-size:' | append: bkImgSize | append: ';'
    endif
    # background image attachment
    if section.settings.product_bk_img_attachment != 'fixed'
      assign bkImgAtt = section.settings.product_bk_img_attachment
      assign bkImgAtt = 'background-attachment:' | append: bkImgAtt | append: ';'
    endif
  endif

  if section.settings.product_nav_background_image
    assign navBk = section.settings.product_nav_background_image | image_url
    assign navStyles = '.gradient .header-wrapper{background-image:url(' | append: navBk | append: ') !important;}'
  endif

  # background color
  if section.settings.product_bk_color != blank
    assign bkColorProp = section.settings.product_bk_color
    assign bkColorProp = 'background-color:' | append: bkColorProp | append: ';'
  endif

  # background color overlay
  if section.settings.product_bk_overlay != blank
    # section styles (if background image overlay is used)
    assign stylesBkImgSections = '.content-for-layout,#shopify-section-footer,#shopify-section-header {position: relative;}'
    assign bkColorOverlayProp = '.content-for-layout:before, #shopify-section-header:before, #shopify-section-footer:before {content: "";background-color:' | append: section.settings.product_bk_overlay | append: ';width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: -1;}'
    assign bkColorOverlayProp = bkColorOverlayProp | append: stylesBkImgSections
  endif

  # product main image background color
  if section.settings.product_main_img_bk != blank
    assign prodMainImgBk = section.settings.product_main_img_bk
    assign prodMainImgBkStyle = '.product__media-list .product__modal-opener{background-color:' | append: prodMainImgBk | append: ';}'
  endif

  # text color
  if section.settings.product_text_color != 'rgba(0,0,0,0)'
    assign stylesTextColor = section.settings.product_text_color
    assign stylesFormElements = textColorFormClasses | append: '{box-shadow:' | append: stylesTextColor | append: ' 0px 0px 0px 1.15px;}'
    assign stylesTextColorHR = textColorHR | append: '{background-color:' | append: stylesTextColor | append: '}'
    assign stylesTextColor = textColorClasses | append: '{color:' | append: stylesTextColor | append: '!important;}' | append: stylesFormElements
  endif

  # button color
  if section.settings.button_color != '#5899e1'
    assign buttonColor = section.settings.button_color
    assign buttonColorStyle = buttonClasses | append: '{background-color:' | append: buttonColor | append: ';box-shadow:' | append: buttonColor | append: ' 0 0 0 1.15px;}'
  endif

  # nav text color
  if section.settings.product_nav_text_color != 'rgba(0,0,0,0)'
    assign stylesNavTextColor = section.settings.product_nav_text_color
    assign stylesNavTextColor = textColorClassesNav | append: '{color:' | append: stylesNavTextColor | append: '!important;}'
  endif

  # top nav logo
  if section.settings.nav_logo_white
    assign navLogoColor = '.header__heading-logo {filter: brightness(3);}'
  endif

  # animated background image
  if section.settings.product_background_image_top
    assign img = section.settings.product_background_image_top | image_url
    assign imgAnimate = '.animate-bk-img_left {background-image: url(' | append: img | append: ');}'
  endif

  # FINAL STYLES
  # background image none
  if section.settings.product_bk_img_none == true
    assign stylesBkImgNoneHeaderFooter = 'footer.footer.gradient, .gradient .header-wrapper{background-color: transparent !important;background-image:none;}'
    assign stylesBkImgBody = 'body.template_presale.' | append: template.suffix | append: '{background-image:none;' | append: bkColorProp | append: '}' | append: stylesBkImgNoneHeaderFooter
    # background image or color
  elsif section.settings.product_background_image or section.settings.product_bk_color == blank
    assign stylesBkImgFooter = '.footer.gradient, .header-wrapper {background-color: transparent !important;background-image: none !important;}'
    assign stylesBkImgBody = 'body.template_presale.' | append: template.suffix | append: '{' | append: bkImgProp | append: bkImgRepeat | append: bkImgSize | append: bkImgAtt | append: bkColorProp | append: '}'
  endif

  assign stylesBkImg = '<style class="main_product_settings">' | append: stylesBkImgBody | append: stylesTextColor | append: stylesNavTextColor | append: navLogoColor | append: stylesBkImgFooter | append: stylesBkImgSections | append: bkColorOverlayProp | append: imgAnimate | append: navStyles | append: buttonColorStyle | append: prodMainImgBkStyle | append: stylesTextColorHR | append: '</style>'
  if section.settings.alter_product_style
    echo stylesBkImg
  endif
%}
{% comment %}
  Animate on scroll
  danny boy! Link: https://codepen.io/rachsmith/post/how-to-move-elements-on-scroll-in-a-way-that-doesn-t-suck-too-bad
  js: assets/global.js
{% endcomment %}
<div class="animate-bk-img animate-bk-img_left"><div></div></div>

{% schema %}
{
  "name": "Product settings",
  "class": "main-product-settings",
  "settings": [
    {
      "type": "paragraph",
      "content": "Product settings"
    },
    {
      "type": "checkbox",
      "id": "alter_product_style",
      "label": "Alter product style",
      "default": false,
      "info": "Change the product style."
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "color",
      "id": "product_text_color",
      "label": "Text color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "product_nav_text_color",
      "label": "Nav text color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button color",
      "default": "#5899e1"
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "checkbox",
      "id": "nav_logo_white",
      "label": "Top nav logo white",
      "default": false
    },
    {
      "type": "header",
      "content": "product background"
    },
    {
      "type": "color",
      "id": "product_bk_color",
      "label": "Background color",
      "default": "transparent"
    },
    {
      "type": "checkbox",
      "id": "product_bk_img_none",
      "default": false,
      "label": "Background image none",
      "info": "Uncheck for product background image to show."
    },
    {
      "type": "image_picker",
      "id": "product_background_image",
      "label": "Product background image"
    },
    {
      "type": "image_picker",
      "id": "product_nav_background_image",
      "label": "Product nav background image"
    },
    {
      "type": "image_picker",
      "id": "product_background_image_top",
      "label": "Scrolling(paralax) background image",
      "info": "Image moves as visitor scrolls up & down the page. Preferred size 300x418px."
    },
    {
      "type": "text",
      "id": "product_bk_overlay",
      "label": "Background overlay color",
      "default": "rgba(0, 0, 0, 0.67)",
      "info": "Overlay color on top of the background image. Copy and paste rgba color code from this [Color Picker](https://hslpicker.com) ex: rgba(0, 0, 0, 0.67)"
    },
    {
      "type": "text",
      "id": "product_main_img_bk",
      "label": "Product main image background color",
      "default": "rgba(0, 0, 0, 0.67)",
      "info": "Main image background color. Copy and paste rgba color code from this [Color Picker](https://hslpicker.com) ex: rgba(0, 0, 0, 0.67)"
    },
    {
      "type": "select",
      "id": "product_bk_img_size",
      "label": "Background image size",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "contain",
          "label": "Contain"
        },
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "100% auto",
          "label": "Full width"
        },
        {
          "value": "unset",
          "label": "Unset"
        }
      ],
      "default": "auto"
    },
    {
      "type": "select",
      "id": "product_bk_img_repeat",
      "label": "Background image repeat",
      "options": [
        {
          "value": "unset",
          "label": "Unset"
        },
        {
          "value": "no-repeat",
          "label": "No repeat"
        },
        {
          "value": "repeat",
          "label": "Repeat"
        },
        {
          "value": "repeat-x",
          "label": "Repeat horizontally"
        },
        {
          "value": "repeat-y",
          "label": "Repeat vertically"
        }
      ],
      "default": "unset"
    },
    {
      "type": "select",
      "id": "product_bk_img_attachment",
      "label": "Background image attachment",
      "options": [
        {
          "value": "scroll",
          "label": "Scroll"
        },
        {
          "value": "fixed",
          "label": "Fixed"
        }
      ],
      "default": "fixed"
    }
  ]
}
{% endschema %}
