/* From base.css */

/* Presale collection */
body.template_presale.presale,
.template_presale .collection {
	background-repeat: repeat-y;
	background-size: 100% auto;
	background-position: top;
	background-attachment: scroll;
}

/* presale / robo force collection */
body.template_presale.presale,
.template_presale.presale .collection {
	background-image: url("https://cdn.shopify.com/s/files/1/0524/2555/6159/files/roboforce-bk-sm-long.png?v=1650643611");
}

.presale-v2 .spaced-section:not(.spaced-section--full-width),
.presale-v2 .footer {
	position: relative;
	margin-top: 0;
	padding-top: 2em;
}
.presale-v2 .spaced-section:last-child {
	margin-bottom: 0;
	padding-bottom: 5rem;
}
.presale-v2 .footer::before,
.presale-v2 .collection-grid-section::before,
.presale-v2 .header::before,
.presale-v2 #shopify-section-footer::before,
.presale-v2 .product-section .page-width::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-image: url("https://cdn.shopify.com/s/files/1/0524/2555/6159/files/tile-2.svg?v=1660340345");
	filter: brightness(0.25);
}
.presale-v2 .button {
    background-color: #c27619;
}

/* presale / robo force collection */
@media screen and (min-width: 750px) {
	body.template_presale.presale {
		background-image: url("https://cdn.shopify.com/s/files/1/0524/2555/6159/files/roboforce-bk-lg-2.jpg?v=1646853270");
	}
}
/* presale v2 / LOL collection */
@media screen and (min-width: 750px) {
	body.template_presale.presale-v2 main::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
        z-index: -1;
		background-image: url("https://cdn.shopify.com/s/files/1/0524/2555/6159/files/tile-2.svg?v=1660340345");
		filter: brightness(0.25);
	}
}

.template_presale .footer.gradient,
.template_presale .header-wrapper {
	background-color: transparent;
	background-image: none;
}

.template_presale .quantity__button,
.template_presale .field__input {
	box-shadow: 0 0 0 0.1rem #fff;
}

.template_presale .field__input:hover,
.template_presale .field__input:focus {
	box-shadow: 0 0 0 0.2rem #fff;
}

span.product-nav-btn > a {
	font-size: 10px !important;
}

.template_presale .product__media-icon svg path,
.template_presale .icon-close * {
	color: #000 !important;
}

@media screen and (max-width: 749px) {
	.template_presale .product-grid .grid {
		flex-direction: column;
	}
	.template_presale .product-grid.grid--2-col .grid__item {
		width: calc(100% - 0.25rem);
		max-width: 100%;
	}
}
.grid {
	justify-content: center;
}
.collection-hero__description figure {
	margin: 1em 0;
}
.collection-hero__description a {
	display: contents;
}
figcaption {
	text-align: justify;
}
@media screen and (min-width: 750px) {
	.presale-v2 .collection-hero__description {
		max-width: 80%;
	}
	.collection-hero__description figure {
		display: flex;
		flex-flow: row nowrap;
		align-items: self-start;
	}
}

/* END presale products */

/* END from base.css */
/* Presale main product */
body.presale {
	background-image: url("https://cdn.shopify.com/s/files/1/0524/2555/6159/files/roboforce-bk-lg-dark.jpg?v=1646854430");
	background-repeat: repeat-y;
	background-size: 100% auto;
	background-position: top;
	background-attachment: scroll;
}

.template_presale footer.footer.gradient,
.template_presale .header-wrapper {
	background-color: transparent;
	background-image: none;
}

.template_presale .product__title {
	max-width: 285px;
}

@media screen and (min-width: 992px) {
	.template_presale .product__title {
		max-width: 365px;
	}
}

.template_presale .button,
.template_presale button,
.template_presale .field__input,
.template_presale .pre-order-main-wrapper > button {
	border-color: #fff;
}

.template_presale .button:not([disabled]):not(.product__media-toggle):hover,
.template_presale button:not([disabled]):not(.product__media-toggle):hover {
	box-shadow: 0 0 0 0.2rem #fff;
}

.template_presale .product__media-icon svg path {
	color: #000 !important;
}

.header__icons *:not(.search__input), /* search & cart icons */
.header__inline-menu *, /* desktop menu */
.content-for-layout *, /* all main content */
.header__icon,
.footer * {
	/* mobile hamburger */
	color: #fff !important;
}
